/* CSS goes here */

/* Testing out some CSS */

body{
    background-color: lightblue;
    font-size: bold;
    color: darkblue;
}

#Contact{
    background-color: red;
    font-family: georgia;
}

#Projects{
    background-color: coral;
    

}


img{
    display: block;
    height: 350px;
    width: 350px;
    padding: 15px;
}

li {
    float: right;
    list-style-type: none;
    width: auto;
    
}

a {
    display: block;
    padding: 8px;
    background-color: gold;
}
